body {
    font-family: Arial;
    background: #7fb3b5;
}

.card {
    width: 80%;
    margin: 40px auto;
    background: #eaf4f4;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    background: #3a7c7d;
    color: white;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
}

thead {
    background: #cfe3e3;
}

img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}